.float-left{
   float: left;
}
.float-right{
   float: right;
}
.product-section{
    padding: 20px;
}

.swiper-button-next, .swiper-button-prev{
    font-size: 45px;
    color: #f2c305;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

label.error {
	color: #dc3545 !important;
	font-size: 14px !important;
}
.is-invalid{
	border-color: #dc3545 !important; 
}

.cart-right-panel{
    overflow-y: auto !important;
    min-height: 500px !important;
    overflow-x: hidden !important;
}
.product-cart{
    margin-right: 13px !important;
}